*.pyc
__pycache
.DS_Store
.env
.python-version
venv
project/celerybeat-schedule
project/celerybeat.pid
project/logs/*.log
mongo-data/*
!mongo-data/empty’s 
rabbitmq/
.env.dev
.env.prod
.env.staging
.env.local
.env.*
*.key
